include userMenuMixin
extends layout

block headerContent
    // logged in user menu
    +userMenuMixin(null)

block mainContent
    article.jumbotron.col-md-12

        // user sensors data
        section.col-md-10
            if userData.data
                each pi in userData.data
                    .col-md-12
                        h3 #{pi.desc}
                        if pi.active
                            p Is active
                        else
                            p Is not active
                        .row
                        each reading in pi.sensorsReadings
                            if reading.type === 'Temperature'
                                .col-md-4
                                    -var link = '/sensor/' + reading.type + '/' + reading.id
                                    a(href="#{link}")
                                        button.btn.btn-default
                                            h3
                                                label.label.label-default #{reading.desc}
                                            p #{reading.value}  &deg;C
                                            p #{reading.timestamp.toString().substring(4,25)}
            else
                h1 Add a pi to start recording data

        section.col-md-2
            section.col-md-12
                // add a pi button
                a(href='/addpi')
                    button.btn.btn-default.pull-right
                        label Add a Pi
                // sync button
                a(href='/dashboard')
                    button.btn.btn-default.pull-right
                        i.fa.fa-refresh
                        label Sync

                h3 Filters:

                    // Pi filters
                label.col-md-12.label.label-default Pi
                div
                    .checkbox
                    if userData.data
                        each pi in userData.data
                            .checkbox
                                label #{pi.desc}
                                input(type='checkbox')

                // sensor types filters
                label.col-md-12.label.label-default Sensor Type
                div
                    .checkbox
                        label Tempture
                        input(type='checkbox')
                    .checkbox
                        label Humiy
                        input(type='checkbox')
                    .checkbox
                        label Motion
                        input(type='checkbox')

block scripts
    script(src='/clientLogic/dashboardVM.js')

