include userMenuMixin
extends layout

block headerContent
    // logged in user menu
    +userMenuMixin(null)

block mainContent
    .jumbotron
        .alert.alert-success
            span
                i #{data.piDesc}
                | &nbsp; was succesfully added to your account!
        .alert.alert-warning
            span
                | Please verify &nbsp;
                i #{data.piDesc}
                | &nbsp; to start logging data from you by entering this code: &nbsp;
                b #{data.piCode}
                | &nbsp; on the pi console app.

        h2 Your pi has this sensors:
        ul
            each s in data.sensors
                li
                    span
                        i #{s.sensorDesc}
                        | &nbsp; which it a #{s.sensorType} sensor
        a(href='/dashboard')
            button.btn.btn-default
                label Done

